
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Eclipse template

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

### Windows template
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

*.iml
/.idea/
/esacess/.idea/libraries/Maven__com_carrotsearch_hppc_0_7_1.xml
/esacess/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_8_1.xml
/esacess/.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_cbor_2_8_1.xml
/esacess/.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_smile_2_8_1.xml
/esacess/.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_8_1.xml
/esacess/.idea/libraries/Maven__com_google_guava_guava_18_0.xml
/esacess/.idea/libraries/Maven__com_huawei_wuqf_model_0_0_1_SNAPSHOT.xml
/esacess/.idea/libraries/Maven__com_ning_compress_lzf_1_0_2.xml
/esacess/.idea/libraries/Maven__com_spatial4j_spatial4j_0_5.xml
/esacess/.idea/libraries/Maven__com_tdunning_t_digest_3_0.xml
/esacess/.idea/libraries/Maven__com_twitter_jsr166e_1_1_0.xml
/esacess/.idea/libraries/Maven__commons_cli_commons_cli_1_3_1.xml
/esacess/.idea/libraries/Maven__io_netty_netty_3_10_6_Final.xml
/esacess/.idea/libraries/Maven__joda_time_joda_time_2_9_4.xml
/esacess/.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_common_5_5_2.xml
/esacess/.idea/libraries/Maven__org_apache_lucene_lucene_backward_codecs_5_5_2.xml
/esacess/.idea/libraries/Maven__org_apache_lucene_lucene_core_5_5_2.xml
/esacess/.idea/libraries/Maven__org_apache_lucene_lucene_grouping_5_5_2.xml
/esacess/.idea/libraries/Maven__org_apache_lucene_lucene_highlighter_5_5_2.xml
/esacess/.idea/libraries/Maven__org_apache_lucene_lucene_join_5_5_2.xml
/esacess/.idea/libraries/Maven__org_apache_lucene_lucene_memory_5_5_2.xml
/esacess/.idea/libraries/Maven__org_apache_lucene_lucene_misc_5_5_2.xml
/esacess/.idea/libraries/Maven__org_apache_lucene_lucene_queries_5_5_2.xml
/esacess/.idea/libraries/Maven__org_apache_lucene_lucene_queryparser_5_5_2.xml
/esacess/.idea/libraries/Maven__org_apache_lucene_lucene_sandbox_5_5_2.xml
/esacess/.idea/libraries/Maven__org_apache_lucene_lucene_spatial3d_5_5_2.xml
/esacess/.idea/libraries/Maven__org_apache_lucene_lucene_spatial_5_5_2.xml
/esacess/.idea/libraries/Maven__org_apache_lucene_lucene_suggest_5_5_2.xml
/esacess/.idea/libraries/Maven__org_elasticsearch_elasticsearch_2_4_0.xml
/esacess/.idea/libraries/Maven__org_elasticsearch_securesm_1_0.xml
/esacess/.idea/libraries/Maven__org_hdrhistogram_HdrHistogram_2_1_6.xml
/esacess/.idea/libraries/Maven__org_joda_joda_convert_1_2.xml
/esacess/.idea/libraries/Maven__org_yaml_snakeyaml_1_15.xml
/esacess/.idea/.gitignore
/esacess/.idea/compiler.xml
/esacess/.idea/encodings.xml
/esacess/.idea/misc.xml
/esacess/.idea/modules.xml
/esacess/.idea/vcs.xml
